version: '3.8'


networks:
  app-network:
    driver: bridge  

volumes:
  postgres_data:

services:
  nginx:
    image: nginx:stable-alpine
    container_name: fullstackApp
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    restart: unless-stopped

    
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - app-network
    ports:
      - "8080:8080"
    expose:
      - "8080"
    container_name: backend-container
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_JPA_HIBERNATE_DDL_AUTO=create
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/FinanceNotes
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD:-SUBD123}
      - SPRING_DATASOURCE_HIKARI_CONNECTION-TIMEOUT=30000
      - SPRING_DATASOURCE_HIKARI_INITIALIZATION-FAIL-TIMEOUT=0
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8080 || exit 0"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 120s 

  db:
    image: postgres:16-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_DB=FinanceNotes
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${DB_PASSWORD:-SUBD123}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s 

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-container
    expose:
      - "80"
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:  
      test: ["CMD-SHELL", "curl -f http://localhost || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3