
.NotesPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #575757;

}

.NotesPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    border: black solid 3px;
    border-radius: 10px;
    width: 60%;
    height: 95%;
    position: relative;
    min-height: 800px;
    background-color: #825555;
}


.note-component-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: darkslategrey;
    margin: 20px;
    border: black solid 2px;
    border-radius: 10px;
    color: white;
}

.note-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.note-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.note-icon img {
    width: 30%;
    height: auto;
    max-height: 60px;
}

.note-divider {
    width: 80%;
    height: 2px;
    background-color: white;
    margin: 10px 0;
}

.note-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    text-align: center;
    gap: 8px;
}

.note-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.note-content p {
    margin: 0;
    font-size: 0.9em;
    opacity: 0.8;
}

.note-content span {
    font-size: 0.8em;
    opacity: 0.6;
}